
{% extends 'base.html.twig'%}
{% block title %}Contact{% endblock %}
 {% block body %}<div>
     <h1>Contact</h1>
     <p class="lead">Polska
         <br>60-747 Poznań</br>
         Klonowica 10/8</p>
 </div>{% endblock %}